@using BibliotekaWeb.Models
@using ContosoUniversity

@model PaginatedList<Book>
@{
    ViewData["Title"] = "Index";
}


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Book List</h2>
       </div>
       <div class="col-6 text-end">
           <a asp-controller="BookList" asp-action="AddNewBook" class="btn btn-primary">
               Add New Book
           </a>
       </div>
    </div>
</div>
<br />


<table class="table table-bordered table-striped"style="width:100%">
    <thead>
        <tr class="table-primary">
            <th scope="col">
               
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]"> Book Name</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AuthorSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Author Name</a>
                
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Publish Date</a>
                
            </th>
            <th>
                Describe
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr scope="row">
                <td >
                    @item.Name
                </td>
                <td >
                    @item.Author
                </td>
                <td >
                    @item.PublishDate.Year
                </td>
                <td >
                    @item.Describe
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="BookList" asp-action="EditBook" asp-route-id="@item.bookID" class="btn btn-primary">
                            Edit
                        </a>
                        <a asp-controller="BookList" asp-action="Book" asp-route-id="@item.bookID" class="btn btn-primary">
                            Book
                        </a>
                        <a asp-controller="BookList" asp-action="DeleteBook" asp-route-id="@item.bookID" class="btn btn-danger">
                            Delete
                        </a>
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>
<@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
